<h1>Edit a task</h1>

<%= form_with url: {action: 'update', id: @task}, model: @task do |t| %>
    <p>
        <strong><%= t.label :title , "Title : " %></strong>
        <br>
        <%= t.text_field :title %>
    </p>

    <p>
        <strong><%= t.label :tag_id, "Tag : " %></strong>
        <br>
        <%= t.collection_select :tag_id, Tag.order(:id), :id, :name %>
    </p>

    <p>
        <strong><%= t.label :date , "Date : " %></strong>
        <br>
        <%= t.date_field :date %>
    </p>

    <p>
        <strong><%= t.label :time , "Time : " %></strong>
        <br>
        <%= t.time_field :time %>
    </p>

    <p>
        <%= t.submit "Edit"%>
    </p>
<% end %>