<!DOCTYPE html>
<html>
  <head>
    <title>CVWO Project</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "layout", "data-turbo-track": "reload" %> 
    <%= javascript_pack_tag 'application', "data-turbo-track": "reload" %>
    <%# <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id = "container">

      <div id = "header">
        <h1>CVWO Project AY2021/22</h1>
        <h5>Task Manager by Rui Cong</h5>
      </div>

      <div id = "content">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
